<footer>
  <section id="footer">
     <div class="container">
      <div class="row">
       <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="footer-info pull-left">
         <ul>
          <li>Grapes Tandoori Indian Restaurant</li>
          <li>Tel: Reservation: 020 8569 1911</li>
          <li>524-528 Uxbridge Road, Hayes, Hillingdon, Middlesex UB4 0SA</li>
         </ul>
        </div>
       </div>
       <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="footer-info pull-right">
         <ul>
          <li>Powered By:</li>
          <li>Chef Online Smart Restaurant Solutions</li>
          <li>Copyright   2015 chefonline.co.uk</li>
         </ul>
        </div>
       </div>
      </div>

     </div>

    </section>
</footer>
