

    <!-- Navigation -->
       <nav class="navbar navbar-static-top navbar-inverse">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <!-- Brand -->
                  <a class="navbar-brand" href="#"><img src="assets/images/logo-1.png" class="img-responsive"></a><!-- Logo width & height should be 155x90 pixels -->
                  <!-- End Brand -->
                </div>
                <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
                  <ul class="nav navbar-nav navbar-right">
                   <li>
                    <a href="/#/home">Home</a>
                   </li>
                     <li>
                       <a href="/#/about">About Us</a>
                     </li>
                     <li>
                       <a href="/#/orderonline">Order Online</a>
                     </li>
                     <li>
                       <a href="#">Menu</a>
                     </li>
                     <li>
                       <a href="/#/reservation">Reservation</a>
                     </li>
                     <li>
                       <a href="#">Gallery</a>
                     </li>
                     <li>
                       <a href="/#/contact">Contact</a>
                     </li>
                  </ul>
                </div>
              </div>
          </nav>
      <!-- End Navigation -->
  </div>
</nav>
